html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navContainer {
  display: block;
}

.nav {
  padding-top: 3rem;
}    

.nav ul {
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 5rem;
}

.nav li {
  display: inline-block;
  margin: 0 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
}

.nav .li a {
  color: #ffffff;
  font-family: 'VT323', monospace;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  background-image: url('../public/bkg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
