.navContainer {
    display: block;
}

.nav {
    padding-top: 3rem;
}    

.nav ul {
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 5rem;
}

.nav li {
    display: inline-block;
    margin: 0 2rem;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
}

.nav .li a {
    color: #ffffff;
    font-family: 'VT323', monospace;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
}

.logoText {
    position: absolute;
    text-transform: uppercase;
    top: 2.8rem;
    left: 3rem;
    font-size: 3rem;
}

.first {
    font-weight: 100;
    color: #ffffff;
}

.last {
    font-weight: 700;
    color: #fbc7d4;
}  

